.archive-header {
  margin-bottom: $baseline-height / 2;
  color: white;

  h1,
  h2 {
    @extend %fourteen-pixels;
    display: inline-block;
    font-weight: 300;
    background: $color-gray-14;
    padding: 6px 14px 6px 14px;

    .query {
      font-weight: 700;
    }
  }
  i {
    margin-right: 4px;
  }
  p {
    @extend %fourteen-pixels;
    display: inline-block;
    margin: 0;
    color: $color-gray-83;
    background: $color-gray-14;
    padding: 6px 14px 6px 14px;
  }
}