.more-link,
.comments-link {
  display: inline-block;
  @extend %fourteen-pixels;
}
.post-content {

  .more-link,
  .comments-link a {
    text-decoration: none;
  }
}
.more-link {
  border: solid 1px $color-gray-20;
  padding: 6px 12px;
  margin-right: 12px;
  transition: all 0.2s;

  &:hover,
  &:active,
  &:focus {
    color: white;
    background: $color-gray-20;
  }
}
.comments-link {
  transition: all 0.2s; // so color control in Period Pro makes icon transition at the same speed

  a {

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
  i {
    margin-right: 1px;
  }
}
.archive,
.blog,
.search {

  &:not(.full-post) {

    &.archive,
    &.blog,
    &.search {

      .post-content {

        p:last-of-type {
          display: inline-block;
          margin: $baseline-height * 0.25 0 $baseline-height / 2;
          line-height: 0;
        }
      }
    }
  }
}
.entry.sticky {

  .post-title {
    margin-top: -12px;
  }
  &.has-post-thumbnail {

    .post-title {
      margin-top: 0;
    }
    .sticky-status {
      position: absolute;
      top: $baseline-height / 2;
      left: -4px;
      background: white;
    }
  }
}
.sticky-status {
  position: relative;
  display: inline-block;
  top: -$baseline-height;
  left: 0;
  padding: 0 12px 2px;
  background: $color-gray-83;
  font-weight: 400;

  span {
    @extend %twelve-pixels;
  }
}

@media all and (min-width: $eleven-hundred) {

  .entry.sticky {

    .post-title {
      margin-top: -12px;
    }
  }
  .sticky-status {
    top: -$baseline-height * 1.25;
  }
}