.comments-number,
li.comment,
li.pingback,
.comment-respond {
  @extend %white-box;
}
.comments-number {
  padding: 18px $column * 1.5;
}
.comment-list {
  margin: $baseline-height / 2 0;
}

@media all and (min-width: $nine-hundred) {

  .comments-number,
  li.comment,
  li.pingback,
  .comment-respond {
    padding: $baseline-height $column * 1.5 * 1.8;
  }
}