.site-footer {
  text-align: center;
  background: $color-gray-20;
  margin-top: $baseline-height * 2.5;
  color: $color-gray-83;
  clear: both;

  a {
    @extend %white-link;
    font-weight: 700;
  }
}
.design-credit {
  background: $color-gray-14;
  padding: 9px $column * 2;
  margin-top: $baseline-height * 1.25;

  span {
    @extend %twelve-pixels;
  }
}