.site-header {
  background: $color-gray-20;
  color: white;
  text-align: center;
  padding: 36px $column * 2 $baseline-height * 3.5;

  &:after {
    @include clearfix;
  }
}
.site-title {
  @extend %twenty-one-pixels;
  font-weight: 700;

  a {
    @extend %white-link;
  }
}
.tagline {
  @extend %fourteen-pixels;
  color: $color-gray-83;
  margin: 0;
}
.logo {
  max-width: 100%;
  width: $baseline-height * 3;
  height: auto;
}
.social-media-icons {
  list-style: none;
  margin: $baseline-height 0;
  transition: all 0.2s;

  li {
    display: inline-block;
    margin-right: 20px;

    &:last-child {
      margin-right: 0;
    }
  }
  a {
    @extend %white-link;
  }
  &.fade {
    opacity: 0;
    transform: translateX(4px);
  }
}

@media all and (min-width: $nine-hundred) {

  .site-header {
    text-align: left;
  }
  .title-container {
    margin-bottom: $baseline-height * 1.5;
    float: left;
  }
  .site-title,
  .tagline {
    display: inline-block;
  }
  .tagline {
    margin-left: 6px;
  }
  .social-media-icons {
    float: right;
    margin: 0;
  }
}