.menu-primary-container {
  max-height: 0;
  overflow: hidden;
}
.toggle-navigation {
  font-size: 1em;
  background: 0;
  padding: 0;
  border: none;
  margin: $baseline-height 0 $baseline-height * 1.25 0;
}