.toggle-navigation {
  font-size: 1em;
  background: 0;
  padding: 0;
  border: none;
  margin: $baseline-height 0 $baseline-height * 1.25 0;

  &:hover {
    cursor: pointer;
  }
  &:focus {
    outline: none;
  }
}
.menu-primary-container {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.1s ease-in-out;
}
.menu-primary {
  color: white;
  margin: $baseline-height 0 $baseline-height / 2;

  ul {
    margin: 0;
    list-style: none;
  }
  li {
    margin-bottom: 6px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    @extend %white-link;
    @extend %fourteen-pixels;
  }
}

@media all and (min-width: $nine-hundred) {

  .toggle-navigation {
    display: none;
  }
  .menu-primary-container {
    max-height: none;
    margin-bottom: $baseline-height * 1.25;
    overflow: visible;
  }
  .menu-primary {
    margin: 0;

    li {
      display: inline-block;
      margin: 0 26px 0 0;

      &.current-menu-item,
      &.current_page_item {
        position: relative;

        //a {
        //  padding: 4px 10px;
        //  background: $color-gray-14;
        //}
        a {
          position: relative;
          z-index: 9;
        }
        &:after {
          content: '';
          position: absolute;
          width: 48px;
          height: 48px;
          top: 50%;
          left: 0;
          right: 0;
          margin: 0 auto;
          border-radius: 50%;
          background: $color-gray-14;
          z-index: 0;
          transform: translateY(-50%);
        }
      }
    }
  }
}