.entry {
  position: relative;
  margin-bottom: $baseline-height;

  > article {
    background: white;
    box-shadow: 0 0 2px 0 rgba(58, 58, 58, 0.2);
  }
}
.post-container {
  padding: $baseline-height $column * 1.5 * 1.125;
  margin-bottom: $baseline-height / 2;
}
.featured-image {
  position: relative;
  height: 0;
  padding-bottom: 50%;
  overflow: hidden;
  backface-visibility: hidden;

  > a {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    font-size: 0;

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: white;
      opacity: 0;
      transition: opacity 0.1s ease-in-out;
    }
    &:focus {

      &:after {
        opacity: 0.2;
      }
    }
  }
  > img,
  > a > img {
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;

    &.no-object-fit {
      min-width: 0;
      min-height: 0;
      max-width: 100%;
      max-height: 100%;
      height: auto;
      width: auto;

      // positioning
      top: 50%;
      right: 50%;
      left: auto;
      transform: translateX(50%) translateY(-50%);
    }
  }
  .ccfic {
    position: absolute;
    width: 100%;
    bottom: 0;
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 4px 4px 4px 12px;
    font-size: 13px;

    a {
      color: #fff;
      text-decoration: underline;
      margin-left: 4px;

      &:link,
      &:visited {
        color: #fff;
      }
    }
  }
}
.post-header {
  margin: 0 0 $baseline-height 0;
}
.post-title {
  @extend %eighteen-pixels;
}
.post-byline {
  @extend %twelve-pixels;

  .date,
  .author {
    font-weight: 700;
    text-decoration: underline;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
}
.post-content {

  a {
    text-decoration: underline;
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
    }
  }
  iframe {
    max-width: 100%;
  }
  &:after {
    @include clearfix;
  }
}
.post-meta {
  margin: $baseline-height * 1.25 0 $baseline-height / 2;
}
.post-categories {
  @extend %fourteen-pixels;
  margin-bottom: $baseline-height * 1.14;

  a {
    font-weight: 700;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
.post-tags {
  margin-bottom: $baseline-height * .75; // b/c tags have 6px bottom margin

  ul {
    list-style: none;
    margin: 0;
  }
  li {
    display: inline-block;
  }
  a {
    @extend %fourteen-pixels;
    display: inline-block;
    padding: 0 12px;
    border: solid 1px $color-gray-20;
    margin: 0 6px 6px 0;
    transition: all 0.2s;

    &:hover,
    &:active,
    &:focus {
      background: $color-gray-20;
      color: white;
    }
  }
}
.further-reading {

  .previous {
    margin-bottom: $baseline-height / 2;
  }
  span {
    @extend %twelve-pixels;
  }
  a {
    @extend %fourteen-pixels;
    font-weight: 700;
    display: block;

    &:hover,
    &:active,
    &:focus {
      text-decoration: underline;
    }
  }
}
.singular-pagination {

  a {
    font-weight: 700;
    text-decoration: underline;

    &:hover,
    &:after,
    &:focus {
      text-decoration: none;
    }
  }
}
.last-updated {
  font-style: italic;
}

// New Gutenberg blocks
.wp-block-image.alignfull,
.wp-block-cover {
  position: relative;
  left: -5.2%;
  width: 110.4%;
  max-width: none;
}
.wp-block-image.alignwide {
  position: relative;
  left: -2.6%;
  width: 105.2%;
  max-width: none;
}
.wp-block-quote.is-large {
  padding-left: 0;
  border-left: none;
  margin: $baseline-height;
}
.wp-block-embed {
  margin: $baseline-height 0;
}
.wp-block-code code {
  background: none;
}
.wp-block-button a {
  font-weight: 400;
  text-decoration: none;
  color: #fff;

  &:link,
  &:visited {
    color: #fff;
  }
}
.wp-block-social-links a {
  color: #fff;
}

@media all and (min-width: $six-hundred) {

  .post-title {
    font-size: 1.3125em; /* 21px / 16px */
    line-height: 1.333; /* 28px */
  }
  .further-reading {

    div {
      width: 50%;
      display: inline-block;
      vertical-align: top;
      margin-right: -4px;
    }
    .previous {
      margin-bottom: 0;
    }
    .next {
      text-align: right;
    }
  }
}

@media all and (min-width: $nine-hundred) {

  .post-container {
    padding: $baseline-height $column * 1.5 * 1.8;
  }
  .wp-block-image.alignfull,
  .wp-block-cover {
    left: -8.8%;
    width: 117.6%;
  }
  .wp-block-image.alignwide {
    left: -4.4%;
    width: 108.8%;
  }
}

@media all and (min-width: $eleven-hundred) {

  .post-container {
    padding: $baseline-height * 1.25 $column * 1.5 * 1.8 $baseline-height * 1.5;
  }
  .post-title {
    font-size: 1.75em; /* 28px / 16px */
    line-height: 1.357; /* 38px */
  }
}