.sidebar-primary {

  .widget {
    @extend %white-box;
  }
}
@media all and (min-width: $nine-hundred) {

  .sidebar-primary {
    width: $column * 11 * 1.125;
    float: left;
    margin-top: $baseline-height * 2;

    .widget {
      padding: $baseline-height $column * 3.273;
    }
  }
}