.sidebar-primary {

  .widget {
    @extend %white-box;

    > * {
      @extend %fourteen-pixels;
    }
  }
  .widget-title {
    font-size: 1em;
    line-height: 1.5;
  }
}
@media all and (min-width: $nine-hundred) {

  .sidebar-primary {
    width: $column * 11 * 1.125;
    float: left;
    margin-top: $baseline-height * 2;
  }
}