.sidebar-primary {

  .widget {
    @extend %white-box;
    margin-bottom: $baseline-height / 2;

    > * {
      @extend %fourteen-pixels;
    }
    .widget-title {
      font-size: 1em;
      line-height: 1.5;
    }
  }
}
@media all and (min-width: $nine-hundred) {

  .sidebar-primary {
    width: $column * 11 * 1.125;
    float: left;
    margin-top: $baseline-height * 2;

    .widget {
      padding-top: $baseline-height * 1.25;
    }
  }
}