/* Back-end styles */

/* styles for theme options page */

#period-dashboard-wrap {

  h2 {
    margin-bottom: 24px;
  }
  .content {
    margin-top: 12px;
    padding: 12px 24px 24px;
    border: solid 1px #e5e5e5;
    background: white;

    .button-primary,
    #delete {
      margin: 12px 0;
    }
    ul {
      list-style: disc;
      margin-left: 36px;
    }
  }
}

/* 600px */
@media all and (min-width: 37.5em) {

  #period-dashboard-wrap {

    .content {
      width: 39%;
      float: left;
      margin-right: 2%;
      min-height: 211px;

      p {
        min-height: 57px;
      }
    }
    .content-premium-upgrade,
    .content-delete-settings {
      margin-right: 0;
    }
  }
}

/* 1100px */
@media all and (min-width: 68.75em) {

  #period-dashboard-wrap {

    .content {
      width: 26.5%;
    }
    .content-support,
    .content-premium-upgrade,
    .content-review {
      margin-right: 1%;
    }
  }
}