@import "variables";

.upgrades-ad {
  text-align: center;
  border-bottom: solid 1px #eee;

  a {
    display: block;
    padding: 9px 0;
    color: white;
    background: #43b3c4;
    transition: background 0.15s ease-in-out;

    &:link,
    &:visited,
    &:hover,
    &:active,
    &:focus  {
      color: white;
    }
    &:hover,
    &:active,
    &:focus {
      background: #3ea5b3;

      span {
        right: -3px;
      }
    }
  }
  span {
    position: relative;
    right: 0;
    transition: right 0.15s ease-in-out;
  }
}

// layout picture controls
#customize-control-layout {

  .customize-control-title {
    margin-bottom: 12px;
  }
  label {
    display: inline-block;
    margin-bottom: 12px;
    margin-left: 0;
    padding: 0;
    width: 123px;
    height: 72px;
    background-size: cover;
    transition: opacity 0.2s ease;
    color: transparent; // hides the description text eg "Right sidebar"

    &:nth-child(even) {
      margin-right: 9px; // +4 from inline-block
    }
    &.selected {
      outline: solid 1px #43B3C4
    }
  }
}
#customize-control-layout label:hover {
  opacity: 0.8;
}
#customize-control-layout input {
  display: none;
}