@import "variables";

// Period Pro section
#accordion-section-ct_period_pro {

  .accordion-section-title {
    color: #fff;
    background: #05B0E7;
    transition: background 0.2s;

    &:after {
      color: #fff;
    }

    &:hover,
    &:active,
    &:focus {
      background: #3A96B5 !important;
      color: #fff !important;

      &:after {
        color: #fff !important;
      }
    }
  }
}
#customize-control-period_pro {
  background: white;
  border: solid 1px $color-gray-83;
  padding: 6px 24px;
  box-sizing: border-box;

  ul {
    list-style: disc;
    padding-left: 15px;
  }
  img {
    position: relative;
    max-width: none;
    width: 273px;
    top: -6px;
    left: -24px;
    border-bottom: solid 1px $color-gray-83;
  }
  .bold {
    font-weight: 600;
    font-size: 16px;
  }
  .button-wrapper {
    text-align: center;
  }
  .period-pro-button {
    display: inline-block;
    font-size: 12px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 15px 24px;
    margin: 12px auto;
    background: #FF931E;
    color: #fff;
    text-decoration: none;
    transition: background 0.2s;

    &:before {
      content: '\f06e';
      font-family: 'FontAwesome';
      margin-right: 6px;
    }

    &:hover,
    &:active,
    &:focus {
      background: #FF8A23;
    }
  }
}

// layout picture controls
#customize-control-layout,
#customize-control-layout_pages,
#customize-control-layout_blog,
#customize-control-layout_archives {

  input {
    display: none;
  }
  .customize-control-title {
    margin-bottom: 12px;
  }
  .customize-inside-control-row {
    display: inline-block;
    margin: 0;
    padding: 0;
  }
  label {
    display: inline-block;
    margin-bottom: 12px;
    margin-left: 0;
    padding: 0;
    width: 123px;
    height: 72px;
    background-size: cover;
    transition: opacity 0.2s ease;
    color: transparent; // hides the description text eg "Right sidebar"

    &:hover {
      opacity: 0.8;
    }
    &:nth-child(even) {
      margin-right: 9px; // +4 from inline-block
    }
    &.selected {
      outline: solid 1px #43B3C4
    }
  }
}